<?xml version="1.0" encoding="utf-8"?>

<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, consultez
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceQuiddich" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1067/ServiceQuiddich.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceQuiddich"
                contract="ServiceReference.IServiceQuiddich" name="BasicHttpBinding_IServiceQuiddich" />
        </client>
    </system.serviceModel>
</configuration>
