<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceQuiddich" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1067/ServiceQuiddich.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceQuiddich"
                contract="ServiceReference1.IServiceQuiddich" name="BasicHttpBinding_IServiceQuiddich" />
        </client>
    </system.serviceModel>
</configuration>